<%= render "partials/navbar" %>

<div class="container" id="cnt1">
    <div class="col-md-3">
    </div>

    <div class="col-md-6" id="panel1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span> Here are some podcasts: </h3>
            </div>


        </div>
    </div>
</div>

<body>
    Your answers point to the possiblility of the following illness:
    <% @episodes.each do |episode| %>
      <ul>
        Episode <%=  episode[0]%>: Title: <%= episode[1] %> (from show  <%= episode[2] %>)
      </ul>
    <% end %>

</body>
