<%= render "partials/navbar" %>
<div class="page-mast-header home-index">
  <div class="container">
    <h1>Are They Okay</h1>
    <p>
      If you are concerned that someone you know may be suffering from a mental health issue. Fill out our survey so that we can provide you with answers and resources to help you and your loved one get support and care so that they can live their life to the fullest.
    </p>
  </div>
</div>


<footer>

</footer>
