<%= render "partials/navbar" %>

<div class="container" id="cnt1">
    <div class="col-md-3">
    </div>

    <div class="col-md-6" id="panel1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span> The following is an assessment based on your answers: </h3>
            </div>


        </div>
    </div>
</div>

<body>
  <div class=""col-md-6" id="panel1">
    <span class="fa fa-question-circle"></span> Your answers point to the possiblility of the following illness: </h3>
    <% @illnesses.each do |illness| %>
      <ul>
        <li> <%= Illness.find(illness[0]).name.capitalize  %> Score: <%= illness[1] %></li>
      </ul>
    <% end %>
  </div>
</body>
