<%= render "partials/navbar" %>

<div class="page-mast-header">
  <div class="container">
    <h1>Survey Results</h1>
    <p>
      The following is an assessment based on your answers
    </p>
  </div>
</div>

<div class="container">

      <div class="row">
      <div class="col-md-12">

      <h2>Your answers point to the possiblility of the following illness:</h2>
      <% @illnesses.each do |illness| %>
        <ul>
          <h4><%= Illness.find(illness[0]).name.capitalize  %></h4> <span class="score-text">Score: <%= illness[1] %></span>
        </ul>
      <% end %>

      Click here to view podcasts related to your results
      <%= link_to  "Related Podcasts", episodes_path( :illnesses => @illnesses), class: "btn btn-default" %>
    </div>
  </div>

</div>
