// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: larger;
  text-shadow: 2px 2px 7px black;
}

.page-mast-header {
  padding: 35px 0;
  background-image:url('../images/cloud_bkgd.jpg');
  background-size: cover;
  color: #fff;
  margin-bottom: 30px;

  &.home-index {
    // padding-top: 35px;
    // background-image:none;
    // background-color: magenta!important;
  }

}

#cloud_bkgd.jpg {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.score-text {
  padding-left: 20px;

}
